mkdocs>=1.5,<2.0
mkdocs-material>=9.5,<10.0
mkdocstrings[python]>=0.24
pymdown-extensions>=10.0
mkdocs-mermaid2-plugin>=1.2
mkdocs-git-revision-date-localized-plugin>=1.2
mkdocs-gen-files>=0.5
mkdocs-literate-nav>=0.6
